* {
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}

nav {
font-family: Arial, Helvetica, sans-serif;
background: #ee0000;
height: 80px;
width: 100%;
z-index: 100;
position: fixed;
top: 0;
left: 0;
}

.logo {
width: 150px;
margin: 20px;
}

nav ul {
float: right;
margin-right: 20px;
}

nav ul li {
display: inline-block;
line-height: 80px;
margin: 0 5px;
}

nav ul li a {
color: white;
font-size: 17px;
font-weight: bold;
padding: 7px 13px;
text-transform: uppercase;
text-decoration: none;
}

nav ul li a.loginSignup {
background: white;
color: #ee0000;
border-radius: 5px;
font-size: 12px;
}

nav ul li a.loginSignup:hover {
color: black;
}

a.active,
a:hover {
color: black;
transition: .5s;
}

.checkbtn {
font-size: 30px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}

#check {
display: none;
}

@media (max-width: 952px) {
.nav {
flex-direction: row-reverse;
}

.logo {
width: 100px;
}

nav ul li a {
font-size: 16px;
}
}

@media (max-width: 858px) {
.nav {
flex-direction: row-reverse;
}

.checkbtn {
display: block;
}

ul {
position: fixed;
width: 100%;
height: 100vh;
background: #ee0000;
top: 80px;
left: -100%;
text-align: center;
transition: all .5s;
}

nav ul li {
display: block;
margin: 50px 0;
line-height: 30px;
}

nav ul li a {
font-size: 20px;
}

a:hover,
a.active {
background: none;
color: black;
}

#check:checked~ul {
left: 0;
}
}
.body{
margin-top: 90px;
width: 100%;
min-height: calc(100vh - 90px);
}
.carousel{
width: 100%;
margin-top: -10px;
height: 500px !important;
position: absolute;
}
.carousel-inner{
height: 100vh;
}
.carousel-item img{
width: 100%;
height: 100%;
background-position: center;
background-size: cover;
}
.banner{
min-height: 100vh;
position: relative;
}
.banner .carousel{
z-index: 0;
}
.banner .page-section{
z-index: 10;  
width: 100vw;
margin-bottom: 20px;
margin-top: 20px;
}
.banner .page-section .row{
width: 100%;
}
.banner .page-section .row-inputs{
margin: 0 auto;
}
.banner .page-section .form-search{
background-color: rgba(0, 0, 0, 0.2);
}
